<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ProcessingUnit" type="GigaSpaces.XAP.Configuration.ProcessingUnitConfigurationSection, GigaSpaces.Core"/>
  </configSections>
  <ProcessingUnit>
    <EmbeddedSpaces>
      <add Name="dataExampleSpace">
        <Properties>
          <add Name="space-config.engine.cache_policy" Value="1" />
          <add Name="cluster-config.groups.group.repl-policy.swap-redo-log.storage-type" Value="sqlite" />
          <add Name="cluster-config.groups.group.repl-policy.redo-log-memory-capacity" Value="0" />
          <add Name="cluster-config.groups.group.repl-policy.redo-log-capacity" Value="10000" />
          <add Name="cluster-config.mirror-service.enabled" Value="true"/>
          <add Name="cluster-config.mirror-service.url" Value="jini://*/mirror-service_container/mirror-service"/>
        </Properties>
      </add>
    </EmbeddedSpaces>
  </ProcessingUnit>
</configuration>
